<%- layout('/layouts/boilerplate') %>
<div class="row mt-2">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form
      method="Post"
      action="/listings/<%= listing._id %>?_method=put"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          value="<%=listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please enter the title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" required>
<%= listing.description%></textarea
        >
        <div class="invalid-feedback">description can't be empty</div>
        <div class="valid-feedback">sounds good!</div>
      </div>
      <!-- 
      <div class="mb-3">
        <label for="image" class="form-label">Upload new Image</label>
        <input type="file" name="image" class="form-control" />
      </div> -->
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <label for="image" class="form-label">Upload new Image</label>
          <input type="file" name="image" class="form-control" />
        </div>
        <div class="mb-3 col-12 col-md-6">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" name="category">
            <option selected value="<%= listing.category %>">
              <%= listing.category %>
            </option>
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Mountains">Mountains</option>
            <option value="Iconic Cities">Iconic Cities</option>
            <option value="Castles">Castles</option>
            <option value="Pools">Pools</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Domes">Domes</option>
            <option value="Boats">Boats</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            name="price"
            inputmode="decimal"
            pattern="[0-9]*\.?[0-9]+"
            value="<%= listing.price%>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid price</div>
        </div>
        <div class="mb-3 col-12 col-md-8">
          <label for="country" class="form-label">Country</label>
          <!-- <input
            type="text"
            name="country"
            value="<%= listing.country%>"
            class="form-control"
            required
          /> -->
          <!-- <br /> -->
          <select
            id="country-select"
            name="country"
            class="form-select"
            required
            aria-label="Default select example"
          >
            <option
              value="<%= Object.keys(countryMap).find(key => countryMap[key] === listing.country) %>"
            >
              &nbsp;&nbsp;<%= listing.country%>
            </option>
            <%- include('../includes/country.ejs') %>
          </select>

          <div class="invalid-feedback">Country field required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          value="<%= listing.location%>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location field required</div>
      </div>

      <button class="btn mt-3 mb-3 btn-dark allbtn" type="submit">
        Edit :&#41;
      </button>
    </form>
  </div>
</div>
<script src="/js/flag.js"></script>
<!-- <script src="/js/script.js"></script> -->
